.spin-animation {
  animation: spin 3s linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  text-align: center;
  font-size: 6rem;
  margin: 20px 0;
  color: #333;
  font-family: 'Courier New', Courier, monospace;
}

#svg-container {
  text-align: center;
  /* margin-top: 30px; */
}

#logo {
  width: 300px;
  height: 290px;
  cursor: pointer;
}

#logo:hover {
  transform: scale(1.1);
}

#work-out-desc {
  max-width: 650px;
  margin: 5% auto;
  background-color: rgba(255, 255, 255, 0.7); 
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

#quote {
  max-width: 75%;
  margin: 5% auto;
  background-color: rgba(255, 255, 255, 0.7); 
  border-radius: 10px;
  border-radius: 15%;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);

}

h2#work-out-title {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 5px;
  font-family: 'Courier New', Courier, monospace;
}
p{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
}

#current-circuit-container {
  display: flexbox;
  margin-top: 20px;
}

#current-circuit {
  list-style: none;
  padding: 0;
  margin: 0;
}

#current-circuit li {
  display: flex;
  align-items: center;
  font-size: 150%;
  margin-bottom: 10px;
}

#current-circuit img {
  height: 50px;
  margin-right: 10px;
  margin-left: 85px;
}

#save-clear-btn-span {
  margin-left: 17%;
  margin-right: 15%;
}


.rmv-button  {
  margin-left: 30%;
  padding-right: 15px;
  padding-left: 15px;
}

.email-btn {
  padding-right: 15px;
  padding-left: 15px;
}



button {
  font-family: 'Courier New', Courier, monospace;
  padding: 1.1em 2em;
  background: none;
  border: 2px solid #fff;
  font-size: 15px;
  color: #131313;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
  border-radius: 12px;
  background-color: rgba(252, 172, 193, .4);
  font-weight: bolder;
  box-shadow: 0 2px 0 2px #000;
}

button:before {
  content: "";
  position: absolute;
  width: 100px;
  height: 120%;
  background-color: #030201;
  top: 50%;
  transform: skewX(30deg) translate(-150%, -50%);
  transition: all 0.5s;
}

button:hover {
  background-color: rgba(0, 139, 139, .6);
  color: #fff;
  box-shadow: 0 2px 0 2px rgba(13, 59, 102, .6);
}

button:hover::before {
  transform: skewX(30deg) translate(150%, -50%);
  transition-delay: 0.1s;
}

button:active {
  transform: scale(0.9);
}


#circuit-history {
  margin-top: 30px;
}

#circuit-history ul {
  list-style: none;
  padding: 10px;
  margin: 10px 0;
  background-color: rgba(224, 224, 224, .6);
  border-radius: 15%;
}

#circuit-history li {
  margin-bottom: 5px;
}

.Motivational {
  display: block;
  max-width: 100%;
  margin-top: 20px;
}
body {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  /* padding: 0; */
  background-image: url(src/honeycomb-34984.svg);
  background-size: cover;
  background-position: center;
}

.card {
  border-radius: 7%;
}

.card-button {
  border-radius: 15%;
}
